<!DOCTYPE html>    
<html>    
<head>
    <title>Covid Project</title> 
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>  
<script src="../CSS/Javascript.js"></script>
<script>

   function BackFunc() {
    location.href = "../View/Dashboard.html";
 }

 function Logout() {
    location.href = "../View/Login.html";
 }
   
</script>  
<body style="background-image: url(../Images/Booking.jpg); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; ">    
    <h1><button style="float: left;" onclick="Logout()" title="Logout">Logout</button> Booking Report <button style="float: right;" onclick="BackFunc()">Back To Main Dashboard</button></h1> <br><br>

    <table id="tblDataShow" style="width: 100%; border-collapse: collapse;background-color: #808080d1;">
        <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Status</th>
            <th>Type</th>
            <th>Date Of Appoinment</th>
            <th>Time Slot</th>
            <th>Hospital</th>
        </tr>
    
        <tr>
            <td>1</td>
            <td>Philip</td>
            <td>Test</td>
            <td>Covid-19 Test</td>
            <td>17-Jan-2022</td>
            <td>11:00-12:00 AM</td>
            <td>City Hospital</td>
            </tr>
        
            <tr>
                <td>2</td>
                <td>John</td>
                <td>Test</td>
                <td>Covid-19 Test</td>
                <td>20-Jan-2022</td>
                <td>11:00-12:00 AM</td>
                <td>City Hospital</td>
                </tr>
        
                <tr>
                    <td>3</td>
                    <td>Mary</td>
                    <td>Test</td>
                    <td>Covid-19 Test</td>
                    <td>21-Jan-2022</td>
                    <td>10:00-11:00 AM</td>
                    <td>Ganga-Sheel Hospital</td>
                    </tr>
        
                    <tr>
                        <td>4</td>
                        <td>Samira</td>
                        <td>Test</td>
                        <td>Covid-19 Test</td>
                        <td>25-Jan-2022</td>
                        <td>4:00-5:00 PM</td>
                        <td>Mahajan Hospital</td>
                        </tr>
        
                        <tr>
                            <td>5</td>
                            <td>Riya</td>
                            <td>Test</td>
                            <td>Covid-19 Test</td>
                            <td>27-Jan-2022</td>
                            <td>11:00-12:00 AM</td>
                            <td>Mahajan Hospital</td>
                            </tr>
        
                            <tr>
                                <td>6</td>
                                <td>Job</td>
                                <td>Test</td>
                                <td>Covid-19 Test</td>
                                <td>27-Jan-2022</td>
                                <td>10:00-11:00 AM</td>
                                <td>City Hospital</td>
                                </tr>
        
                                <tr>
                                    <td>7</td>
                                    <td>Kaira</td>
                                    <td>Test</td>
                                    <td>Covid-19 Test</td>
                                    <td>31-Jan-2022</td>
                                    <td>1:00-3:00 PM</td>
                                    <td>Jeevan Jyoti Hospital</td>
                                    </tr>
        
                                    <tr>
                                        <td>8</td>
                                        <td>Anaya</td>
                                        <td>Test</td>
                                        <td>Covid-19 Test</td>
                                        <td>7-Feb-2022</td>
                                        <td>11:00-12:00 AM</td>
                                        <td>City Hospital</td>
                                        </tr>
        
                                        <tr>
                                            <td>9</td>
                                            <td>Akku</td>
                                            <td>Test</td>
                                            <td>Covid-19 Test</td>
                                            <td>14-Feb-2022</td>
                                            <td>10:00-12:00 AM</td>
                                            <td>Jeevan Jyoti Hospital</td>
                                            </tr>
        
                                            <tr>
                                                <td>10</td>
                                                <td>Akshit</td>
                                                <td>Test</td>
                                                <td>Covid-19 Test</td>
                                                <td>28-Feb-2022</td>
                                                <td>11:00-12:00 AM</td>
                                                <td>Clara Swain Mission Hospital</td>
                                                </tr>
        
                                                <tr>
                                                    <td>11</td>
                                                    <td>Shafia</td>
                                                    <td>Test</td>
                                                    <td>Covid-19 Test</td>
                                                    <td>1-Mar-2022</td>
                                                    <td>11:00-12:00 AM</td>
                                                    <td>City Hospital</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>12</td>
                                                        <td>Priya</td>
                                                        <td>Test</td>
                                                        <td>Covid-19 Test</td>
                                                        <td>5-Mar-2022</td>
                                                        <td>10:00-12:00 AM</td>
                                                        <td>Indira IVF Hospital</td>
                                                        </tr>
                                                    
                                                        <tr>
                                                            <td>13</td>
                                                            <td>Manu</td>
                                                            <td>Test</td>
                                                            <td>Covid-19 Test</td>
                                                            <td>7-Mar-2022</td>
                                                            <td>11:00-12:00 AM</td>
                                                            <td>Sai Hospital</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>14</td>
                                                                <td>Anas</td>
                                                                <td>Test</td>
                                                                <td>Covid-19 Test</td>
                                                                <td>10-Mar-2022</td>
                                                                <td>1:00-3:00 PM</td>
                                                                <td>Medicity Hospital</td>
                                                                </tr>
                                                           
                                                                <tr>
                                                                    <td>15</td>
                                                                    <td>Akash</td>
                                                                    <td>Test</td>
                                                                    <td>Covid-19 Test</td>
                                                                    <td>15-Mar-2022</td>
                                                                    <td>11:00-12:00 AM</td>
                                                                    <td>Rohilkhand Hospital</td>
                                                                    </tr>
                                                           
                                                                    <tr>
                                                                        <td>16</td>
                                                                        <td>Akansha</td>
                                                                        <td>Test</td>
                                                                        <td>Covid-19 Test</td>
                                                                        <td>20-Mar-2022</td>
                                                                        <td>11:00-12:00 AM</td>
                                                                        <td>Rohilkhand Hospital</td>
                                                                        </tr>
                                                           
                                                                        <tr>
                                                                            <td>17</td>
                                                                            <td>Bassu</td>
                                                                            <td>Test</td>
                                                                            <td>Covid-19 Test</td>
                                                                            <td>25-Mar-2022</td>
                                                                            <td>10:00-12:00 AM</td>
                                                                            <td>Mission Hospital</td>
                                                                            </tr>
                                                           
                                                                            <tr>
                                                                                <td>18</td>
                                                                                <td>Anushka</td>
                                                                                <td>Test</td>
                                                                                <td>Covid-19 Test</td>
                                                                                <td>30-Mar-2022</td>
                                                                                <td>1:00-3:00 PM</td>
                                                                                <td>Ganga-Sheel Hospital</td>
                                                                                </tr>
        

    </table>


</body>    
</html>     