<!DOCTYPE html>    
<html>    
<head>
    <title>Covid Project</title> 
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>  
<script src="../CSS/Javascript.js"></script>
<script>

   function BackFunc() {
    location.href = "../View/Dashboard.html";
 }

 function Logout() {
    location.href = "../View/Login.html";
 }
   
</script>  
<body style="background-image: url(../Images/Guideline.jpg); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; ">    
    <h1><button style="float: left;" onclick="Logout()" title="Logout">Logout</button> GuideLines Report <button style="float: right;" onclick="BackFunc()" title="Go To Dashboard">Back To Main Dashboard</button></h1> <br>         
    </div>
<br><br><br>

    <table id="tblDataShow" style="width: 100%; border-collapse: collapse;background-color: #808080d1;">
        <tr>
            <th>Sr. No.</th>
            <th>GuideLine</th>
        </tr>
        <tr>
            <td>*</td>
            <td>Wear Mask</td>
            </tr>
        
            <tr>
                <td>*</td>
                <td>Small Public Gathering</td>
                </tr>
        
                <tr>
                    <td>*</td>
                    <td>Keep Physical Distance</td>
                    </tr>
        
                    <tr>
                        <td>*</td>
                        <td>Clean Your Hand</td>
                        </tr>
        
                        <tr>
                            <td>*</td>
                            <td>Use Tissue or your inner elbow when coughing or sneezing</td>
                            </tr>
        
                            <tr>
                                <td>*</td>
                                <td>Avoid Touching your nose and mouth</td>
                                </tr>
        
                                <tr>
                                    <td>*</td>
                                    <td>Stay home if you are sick</td>
                                    </tr>
        
                                    <tr>
                                        <td>*</td>
                                        <td>Dont shake Hands Maintain social distancing</td>
                                        </tr>
        
                                        <tr>
                                            <td>*</td>
                                            <td>Clean Frequently touched surfaces with water and detergent</td>
                                            </tr>
        
                                            <tr>
                                                <td>*</td>
                                                <td>Perform your transaction via our digital channels</td>
                                                </tr>
        
                                                <tr>
                                                    <td>*</td>
                                                    <td>Use your own supplies</td>
                                                    </tr>
        
                                                    <tr>
                                                        <td>*</td>
                                                        <td>Use hand sanitizer</td>
                                                        </tr>
        
                                                        <tr>
                                                            <td>*</td>
                                                            <td>Well and sick patients are separated whenever possible</td>
                                                            </tr>
        
                                                            <tr>
                                                                <td>*</td>
                                                                <td>Consume only Throughly cooked food and meat</td>
                                                                </tr>
        
                                                                <tr>
                                                                    <td>*</td>
                                                                    <td>Clean and disinfect surfaces regularly</td>
                                                                    </tr>
        
                                                                    <tr>
                                                                        <td>*</td>
                                                                        <td>Avoid your close contact</td>
                                                                        </tr>
        
        
    </table>


</body>    
</html>     