<!DOCTYPE html>    
<html>    
<head>    
    <title>Covid Project</title>    
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">    
</head>  
<script src="../CSS/Javascript.js"></script>
<script>
   function LoginAdmin() {
    location.href = "../View/Login.html";
   }

   function LoginUser() {
    location.href = "../View/UserLogin.html";
   }

   function Register() {
    location.href = "../View/Register.html";
   }
   
</script>  
<body  style="background-image: url(../Images/Website.jpg); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; ">    
    <h2>Covid-19 Project <label onclick="Register()" title="Create a Account to Login" style="cursor: pointer;float: right;color: #000480f2;border: solid;">Register Yourself</label></h2><br>    
    <div class="login" style="margin-left: 9px;margin-top: -65px;">
    <h2 style="cursor: pointer;" onclick="LoginAdmin()">Admin Login</h2>
    </div>    

    <div class="login" style="margin-right: 9px;margin-top: -65px;">
        <h2 style="cursor: pointer;" onclick="LoginUser()">User Login</h2>
    </div>    
</body>    
</html>     