<!DOCTYPE html>    
<html>    
<head>
    <title>Covid Project</title> 
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>  
<script src="../CSS/Javascript.js"></script>
<script>

   function BackFunc() {
    location.href = "../View/UserDashboard.html";
 }

 function Logout() {
    location.href = "../View/UserLogin.html";
 }
   
</script>  
<body style="background-image: url(../Images/CovidImg2.jpg); background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; ">    
    <h1><button style="float: left;" onclick="Logout()" title="Logout">Logout</button> My Profile <button style="float: right;" onclick="BackFunc()">Back To Main Dashboard</button></h1> <br><br>

    <div class="login" style="margin-left: 9px;margin-top: -57px;">
        <label>Name : kanupriya Verma</label><br>
        <label>Address :Bareilly</label><br>
        <label>Phone Number : 6584598756</label><br>
        <label>Adhaar Card Number : 5478 3258 9410</label><br>
        </div> 
</body>    
</html>     