body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 
h1{  
    text-align: center;  
    color: white; 
    background-color: #1538e7bd; 
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
} 
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
#divModule{
    font-size: 12.5px;
    padding: 6px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    float: left;
    width: 100%;
} 

.q-Module{
width: 49%;
padding: 0px;
float: left;
height: 95px;
zoom: .9;
border: solid 0.5px;
border-collapse: collapse;
border-color: #277582;
border-radius: 50px;
text-align: center;
cursor: pointer;
}

.q-Module:hover{
color: red;
}

.q-label{
color: #1a0080;
font-size: 30px;
border: 0px solid green;
height: 70px;
margin: -80px 0 0 80px;
padding-left: 30px;
width: 50px;
transition: ease-in-out;
cursor: pointer;
}

.q-Module span{
    font-size: 15px;
    margin: -30px 0px 0px 110px;
}

#tblDataShow th{
    border: solid;
    text-align: center;
}

#tblDataShow td{
    border: solid;
    text-align: center;
}
